/*TODO ADD INTO MAIN*/

#roam_wrapper
{
	width: 100%;
	height: 100%;

	overflow: hidden;

	position: absolute;
}

.field
{
	width: 320px;
	height: 2000px;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;

	margin: 0 auto;
}

.layer-field
{
	width: inherit;
	height: inherit;

	position: absolute;
}

.layer-field-floor > div
{
	width: inherit;
	height: inherit;

	position: absolute;
}

.bgFill-l, .bgFill-r
{
	position: absolute;
}

.bgFill-t, .bgFill-b
{
	width: inherit;

	position: absolute;
}

.bgFill-l
{
	background-position: right top !important;
}

.bgFill-r
{
	background-position: left top !important;
}

.bgFill-t
{
	background-position: center bottom;
}

.bgFill-b
{
	background-position: center top;
}
