@charset "UTF-8";

/* if(screen.width >= 300 && screen.width < 500) */
@media screen and (min-width:300px) and (max-width:500px)
{
	.multiUseInfo_tl
	{
		width: 76% !important;
	}

	.multiUseInfo_br
	{
		text-align: left;
		font-size: 0.7em;

		outline: 1px solid white;
	}

	.multiUseInfo_deco_tr, .multiUseInfo_deco_bl
	{
		visibility: hidden;
	}
}


/* if(screen.width >= 500) */
@media screen and (min-width:500px)
{
	.multiUseInfo_tl
	{
		width: 50% !important;
	}

	.multiUseInfo_br
	{
		text-align: right;
		font-size: 1em;
	}

	.multiUseInfo_deco_tr, .multiUseInfo_deco_bl
	{
		visibility: visible;
	}
}