@charset "UTF-8";

/* INFO */

/* PORTAL SCREEN */

/* MOBILE */
/* if(screen.width >= 300 */
@media screen and (min-width:300px)
{
	/* WALK ANIMATION DESKTOP ONLY */
	.tween-mapPlayerWalk_loop
	{
		-webkit-animation	: tweenMapPlayerWalkLoopFrames 140ms steps(8) 0 infinite; /* 90ms */
		animation			: tweenMapPlayerWalkLoopFrames 140ms steps(8) 0 infinite; /* 90ms */
	}

	/* INFO */
	.multiUseInfo_tl
	{
		width: 76% !important;
	}

	.multiUseInfo_tl p br
	{
		/*IGNORE LINE BREAK*/
		content: "" !important;
	}

	.multiUseInfo_br
	{
		width: 50%;

		text-align: left;
		font-size: 0.6em;
	}

	.multiUseInfo_br p:first-of-type
	{
		margin-right: 0.1em !important;
	}

	.multiUseInfo_deco_tr, .multiUseInfo_deco_bl
	{
		visibility: hidden;
	}

	.multiUseInfo_intro .multiUseInfo_br, .multiUseInfo_control .multiUseInfo_br, .multiUseInfo_fail .multiUseInfo_br, .multiUseInfo_preBattle .multiUseInfo_br, .multiUseInfo_intoBattle .multiUseInfo_br
	{
		right: auto !important;
		left: 0 !important;
	}
	/* INFO */

	/* PORTAL SCREEN */
	#portalScreen .portalScreen_title_left
	{
		text-align: center !important;
	}

	#portalScreen .portalScreen_title_right
	{
		text-align: center !important;
	}
	/* PORTAL SCREEN */

	/* BATTLE NAV */
	.microBattle_darkness_info
	{
		font-size: 40px !important;
	}
	/* BATTLE NAV */

	/* TRAVEL_OBSERVE */
	#monkeyObserve, #bossObserve
	{
		visibility: hidden;
	}
	/* TRAVEL_OBSERVE */
}

/* TABLET */
/* if(screen.width >= 600) */
@media screen and (min-width:600px)
{
	/* WALK ANIMATION DESKTOP ONLY */
	.tween-mapPlayerWalk_loop
	{
		-webkit-animation	: tweenMapPlayerWalkLoopFrames 140ms steps(8) 0 infinite; /* 90ms */
		animation			: tweenMapPlayerWalkLoopFrames 140ms steps(8) 0 infinite; /* 90ms */
	}

	/* INFO */
	.multiUseInfo_tl
	{
		width: 80% !important;
	}

	.multiUseInfo_tl p br
	{
		/*DEFAULT LINE BREAK*/
		content: normal !important;
	}

	.multiUseInfo_br
	{
		width: auto;

		text-align: right;
		font-size: 0.8em;
	}

	.multiUseInfo_br p:first-of-type
	{
		margin-right: 0.2em !important;
	}

	.multiUseInfo_deco_tr, .multiUseInfo_deco_bl
	{
		visibility: visible;
	}

	.multiUseInfo_intro .multiUseInfo_br, .multiUseInfo_control .multiUseInfo_br, .multiUseInfo_fail .multiUseInfo_br, .multiUseInfo_preBattle .multiUseInfo_br, .multiUseInfo_intoBattle .multiUseInfo_br
	{
		right: 0 !important;
		left: auto !important;
	}
	/* INFO */

	/* PORTAL SCREEN */
	#portalScreen .portalScreen_title_left
	{
		text-align: center !important;
	}

	#portalScreen .portalScreen_title_right
	{
		text-align: center !important;
	}
	/* PORTAL SCREEN */

	/* BATTLE NAV */
	.microBattle_darkness_info
	{
		font-size: 60px !important;
	}
	/* BATTLE NAV */

	/* TRAVEL_OBSERVE */
	#monkeyObserve, #bossObserve
	{
		visibility: visible;
	}
	/* TRAVEL_OBSERVE */
}

/* TABLET - LAPTOP */
/* if(screen.width >= 900) */
@media screen and (min-width:900px)
{
	/* WALK ANIMATION DESKTOP ONLY */
	.tween-mapPlayerWalk_loop
	{
		-webkit-animation	: tweenMapPlayerWalkLoopFrames 140ms steps(8) 0 infinite; /* 90ms */
		animation			: tweenMapPlayerWalkLoopFrames 140ms steps(8) 0 infinite; /* 90ms */
	}

	/* INFO */
	.multiUseInfo_tl
	{
		width: 80% !important;
	}

	.multiUseInfo_tl p br
	{
		/*DEFAULT LINE BREAK*/
		content: normal !important;
	}

	.multiUseInfo_br
	{
		width: auto;

		text-align: right;
		font-size: 1em;
	}

	.multiUseInfo_br p:first-of-type
	{
		margin-right: 0.3em !important;
	}

	.multiUseInfo_deco_tr, .multiUseInfo_deco_bl
	{
		visibility: visible;
	}

	.multiUseInfo_intro .multiUseInfo_br, .multiUseInfo_control .multiUseInfo_br, .multiUseInfo_fail .multiUseInfo_br, .multiUseInfo_preBattle .multiUseInfo_br, .multiUseInfo_intoBattle .multiUseInfo_br
	{
		right: 0 !important;
		left: auto !important;
	}
	/* INFO */

	/* PORTAL SCREEN */
	#portalScreen .portalScreen_title_left
	{
		text-align: center !important;
	}

	#portalScreen .portalScreen_title_right
	{
		text-align: center !important;
	}
	/* PORTAL SCREEN */

	/* BATTLE NAV */
	.microBattle_darkness_info
	{
		font-size: 80px !important;
	}
	/* BATTLE NAV */
}

/* DESKTOP > */
/* if(screen.width >= 1200) */
@media screen and (min-width:1200px)
{
	/* WALK ANIMATION DESKTOP ONLY */
	.tween-mapPlayerWalk_loop
	{
		-webkit-animation	: tweenMapPlayerWalkLoopFrames 140ms steps(8) 0 infinite; /* 90ms */
		animation			: tweenMapPlayerWalkLoopFrames 140ms steps(8) 0 infinite; /* 90ms */
	}

	/* INFO */
	.multiUseInfo_tl
	{
		width: 80% !important;
	}

	.multiUseInfo_tl p br
	{
		/*DEFAULT LINE BREAK*/
		content: normal !important;
	}

	.multiUseInfo_br
	{
		width: auto;

		text-align: right;
		font-size: 1.4em;
	}

	.multiUseInfo_br p:first-of-type
	{
		margin-right: 0.3em !important;
	}

	.multiUseInfo_deco_tr, .multiUseInfo_deco_bl
	{
		visibility: visible;
	}

	.multiUseInfo_intro .multiUseInfo_br, .multiUseInfo_control .multiUseInfo_br, .multiUseInfo_fail .multiUseInfo_br, .multiUseInfo_preBattle .multiUseInfo_br, .multiUseInfo_intoBattle .multiUseInfo_br
	{
		right: 0 !important;
		left: auto !important;
	}
	/* INFO */

	/* PORTAL SCREEN */
	#portalScreen .portalScreen_title_left
	{
		text-align: center !important;
	}

	#portalScreen .portalScreen_title_right
	{
		text-align: center !important;
	}
	/* PORTAL SCREEN */

	/* BATTLE NAV */
	.microBattle_darkness_info
	{
		font-size: 100px !important;
	}
	/* BATTLE NAV */
}




/*@media screen and (min-height:550px)
{
	.oneUseInfo_winScreen_ground
	{
		visibility: visible !important;
	}
}
*/

/*GREATER THAN 300px HEIGHT*/
@media screen and (min-height:300px)
{
	.resultOutcome_player
	{
		bottom: 20px; left: 0; right: 0;
	}

	.resultOutcome_header h1
	{
		margin: 20px auto 0 auto;
	}

	.resultOutcome_circle
	{
		visibility: hidden;
	}
}



/*GREATER THAN 550px HEIGHT*/
@media screen and (min-height:460px)
{
	.resultOutcome_player
	{
		bottom: 10px; left: 0; right: 0;
	}

	.resultOutcome_header h1
	{
		margin: 10px auto 0 auto;
	}

	.resultOutcome_circle
	{
		visibility: visible;
	}
}

/*GREATER THAN 550px HEIGHT*/
@media screen and (min-height:540px)
{
	.resultOutcome_player
	{
		bottom: 40px; left: 0; right: 0;
	}

	.resultOutcome_header h1
	{
		margin: 40px auto 0 auto;
	}

	.resultOutcome_circle
	{
		visibility: visible;
	}
}




