@charset "UTF-8";

/* PORTAL SCREEN */

/* PRE_BATTLE */

/* BATTLE NAV */

/* LEVEL_BATTLE */

/* INFO */


	/* if(screen.width <= 480) */
	@media screen and (max-width:480px)
	{
		.multiUseInfo_cont_entrance .multiUseInfo_tl
		{
			width: 70%;
		}

		.multiUseInfo_cont_entrance .multiUseInfo_deco_tr, .multiUseInfo_cont_entrance .multiUseInfo_deco_bl
		{
			visibility: hidden;
		}

		.multiUseInfo_br .multiUseInfo_option
		{
			font-size: 4em;
		}

		.multiUseInfo_cont_entrance .multiUseInfo_br
		{
			width: 50%;

			left: 0; bottom: 0;

			margin: 0 0 40px 40px;
		}


		/* PORTAL SCREEN */

		#portalScreen .portalScreen_title_left
		{
			/* FORCE CENTER (!important) */
			text-align: center !important;
		}

		#portalScreen .portalScreen_title_right
		{
			/* FORCE CENTER (!important) */
			text-align: center !important;
		}

		/* PORTAL SCREEN */


		/* PRE_BATTLE */

		.preBattle_options
		{
			font-size: 22px !important;
		}

		.preBattle_title_enemy
		{
			top: 6% !important;
			left: 8% !important;
		}

		.preBattle_title_player
		{
			bottom: 6% !important;
			right: 8% !important;
		}

		/* PRE_BATTLE */


		/* BATTLE NAV */

		.microBattle_darkness_info
		{
			font-size: 40px !important;
		}

		/* BATTLE NAV */


		/* LEVEL_BATTLE */

		.microBattle_endSky
		{
			height: 180px;
		}

		.microBattle_sunMoon
		{
			-webkit-transform: translateX(0px);
			transform: translateX(0px);
		}

		.microBattle_sunMoon_sprite_rise
		{
			-webkit-transform: translateY(-160px);
			transform: translateY(-160px);
		}

		/* LEVEL_BATTLE */

	}


	/* if(screen.width <= 500) */
	@media screen and (max-width:500px)
	{
		/* INFO */

/*		.multiUseInfo_cont_entrance .multiUseInfo_tl
		{
			width: 70%;
		}

		.multiUseInfo_cont_entrance .multiUseInfo_deco_tr, .multiUseInfo_cont_entrance .multiUseInfo_deco_bl
		{
			visibility: hidden;
		}

		.multiUseInfo_br .multiUseInfo_option
		{
			font-size: 4em;
		}*/

		/* INFO */
	}

	/* if(screen.width <= 700) */
	@media screen and (max-width:700px)
	{
		/* INFO */

/*		.multiUseInfo_cont_entrance .multiUseInfo_br
		{
			width: 50%;

			left: 0; bottom: 0;

			margin: 0 0 40px 40px;
		}

		.multiUseInfo_cont_entrance .multiUseInfo_deco_bl
		{
			margin: auto 40px 40px auto;
		}

		.multiUseInfo_br .multiUseInfo_option
		{
			font-size: 5em;
		}*/

		/* INFO */
	}




	/* if(screen.width >= 1000) */
	@media screen and (min-width:1000px)
	{
/*		.multiUseInfo_cont_entrance .multiUseInfo_br
		{
			width: 50%;

			left: 0; bottom: 0;

			margin: 0 0 40px 40px;
		}

		.multiUseInfo_cont_entrance .multiUseInfo_deco_bl
		{
			margin: auto 40px 40px auto;
		}

		.multiUseInfo_br .multiUseInfo_option
		{
			font-size: 5em;
		}*/


		/* PRE_BATTLE */

		.preBattle_options
		{
			font-size: 38px !important;
		}

		/* PRE_BATTLE */
	}

