@charset "UTF-8";

	/* ------------------------------ DEBUG */

	#debug
	{
		position: absolute;
		z-index: 1000;

		left: 10px;
		top: 10px;

		color: #ff0033;

		font-family: sans-serif;
		font-weight: bold;
		font-size: 18px;
	}

	#debug p
	{
		display: inline-block;
		background: #fff;
		padding: 4px;

		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
	}

	.hack-hide
	{
		width: 0;
		height: 0;

		opacity: 0;
		visibility: hidden;

		position: absolute;
	}

	/* ------------------------------ DEBUG */




	/* ---------------------------------------- RESPONSIVE */

	@media screen and (max-width:480px)
	{

	}

	/* ---------------------------------------- RESPONSIVE */










	.pixels_portalSnow
	{
		background-image: url(../_img/portalSpriteSnow_1x.png);
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 80px 320px;
	}

	.pixels_forestMassSnow
	{
		background-image: url(../_img/tile_snowTreesMass_1x.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 240px 240px;
	}

	.pixels_forestSnow
	{
		background-image: url(../_img/tile_pineTreesSnow_1x.png);
		background-repeat: repeat;
		background-size: 80px 80px;
	}

	.pixels_flowerLightSnow
	{
		background-image: url(../_img/tile_flowersLightSnow_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}

	.pixels_flowerHeavySnow
	{
		background-image: url(../_img/tile_flowersHeavySnow_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}

	.pixels_flowerRichCrossSnow
	{
		background-image: url(../_img/tile_flowersRich_+Snow_1x.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 120px 120px;
	}

	.field-floor-snow
	{
		background: #fff;
	}

	.pixels_portalFire
	{
		background-image: url(../_img/portalSpriteFire_1x.png);
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 80px 320px;
	}

	.pixels_forestMassFire
	{
		background-image: url(../_img/tile_pineTreesMassFire_1x.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 240px 240px;
	}

	.pixels_forestFire
	{
		background-image: url(../_img/tile_pineTreesFire_1x.png);
		background-repeat: repeat;
		background-size: 80px 80px;
	}

	.pixels_flowerLightFire
	{
		background-image: url(../_img/tile_flowersLightFire_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}

	.pixels_flowerHeavyFire
	{
		background-image: url(../_img/tile_flowersHeavyFire_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}

	.pixels_flowerRichCrossFire
	{
		background-image: url(../_img/tile_flowersRich_+Fire_1x.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 120px 120px;
	}

	.field-floor-fire
	{
		background: #20202a;
	}


/* ----------------------------------------------------------------------- GATES */

	.gate-areas
	{
		width: inherit;
		height: 2000px;

		position: absolute;

		left: 0;
		top: 0;

		z-index: 1;
	}


	.pixels_gate
	{
		background-image: url(../_img/_gate_1x.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 320px 240px;
	}


	.gate
	{
		width: 320px;
		height: 160px;

		position: absolute;
	}

	.gate-outer
	{
		width: 320px;
		height: 160px;

		position: absolute;

		left: 0;
		top: 0;
	}

	.gate-outer-floor, .gate-outer-tile
	{
		width: inherit;
		height: inherit;

		position: absolute;

		left: 0;
		top: 0;
	}

	.gate-outer-tile
	{
		background-position: 0 -80px;
	}

	.gate-inner
	{
		width: 80px;
		height: 80px;

		position: absolute;

		-webkit-transform: translate(120px, 40px);
		transform: translate(120px, 40px);
	}

	.gate-inner-floor, .gate-inner-tile
	{
		width: inherit;
		height: inherit;

		position: absolute;

		left: 0;
		top: 0;
	}

	.gate-inner-light
	{
		width:78px;
		height: 78px;



		position: absolute;

		left: 1px;
		top: 1px;
	}

	.gate-inner-light-on
	{
		background: #17e69d;
	}

	.gate-inner-light-off
	{
		background: #336c75;
	}

	.tween-gate-inner-light
	{
		-webkit-animation: tweenGateInnterLightFrames 600ms ease-in-out infinite;
		animation: tweenGateInnterLightFrames 600ms ease-in-out infinite;
	}

	@-webkit-keyframes tweenGateInnterLightFrames
	{
		0%		{opacity: 1;}
		40%		{opacity: 0;}
		60%		{opacity: 0;}
		100%	{opacity: 1;}
	}

	@keyframes tweenGateInnterLightFrames
	{
		0%		{opacity: 1;}
		40%		{opacity: 0;}
		60%		{opacity: 0;}
		100%	{opacity: 1;}
	}

	.gate-inner-tile
	{
		background-position: 0 0;
	}

	.gate_show
	{
		opacity: 1;
	}

	.gate_hide
	{
		opacity: 0;
	}

	.tween-gate
	{
		-webkit-transition: 500ms ease-in-out;
		transition: 500ms ease-in-out;
	}

	#gate_0_0
	{

	}

/* ----------------------------------------------------------------------- GATES */





/*	--------------------------------------- INFO SCREEN*/


.player, .hitTest
{
	width: 40px;
	height: 40px;

/*	background: #F38630;*/

	position: absolute;


	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hitTest
{
	background: rgba(0, 255, 0, 0.4);
}

/*DEAD?*/
.tween-player
{
	-webkit-transition 	: 400ms ease-in-out;
	transition 					: 400ms ease-in-out;
}
/*DEAD?*/

.tween-player-portal
{
	-webkit-transition 	: 400ms ease-in-out;
	transition 					: 400ms ease-in-out;
}

.tween-player-enemy
{
	-webkit-transition 	: 140ms linear;
	transition 					: 140ms linear;
}

.tween-player-XX
{
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.tween-player-UD
{
/*	-webkit-animation: tweenPlayerUDFrames 200ms linear infinite;
	animation: tweenPlayerUDFrames 200ms linear infinite;*/
}

.tween-player-LR
{
	-webkit-animation: tweenPlayerLRFrames 200ms linear infinite;
	animation: tweenPlayerLRFrames 200ms linear infinite;
}

@-webkit-keyframes tweenPlayerUDFrames
{
	0%		{-webkit-transform: translateX(0px);}
	25%		{-webkit-transform: translateX(-4px);}
	50%		{-webkit-transform: translateX(0px);}
	75%		{-webkit-transform: translateX(4px);}
	100%	{-webkit-transform: translateX(0px);}
}

@keyframes tweenPlayerUDFrames
{
	0%		{transform: translateX(0px);}
	25%		{transform: translateX(-4px);}
	50%		{transform: translateX(0px);}
	75%		{transform: translateX(4px);}
	100%	{transform: translateX(0px);}
}

@-webkit-keyframes tweenPlayerLRFrames
{
	0%		{-webkit-transform: translateY(0px);}
	25%		{-webkit-transform: translateY(-4px);}
	50%		{-webkit-transform: translateY(0px);}
	75%		{-webkit-transform: translateY(4px);}
	100%	{-webkit-transform: translateY(0px);}
}

@keyframes tweenPlayerLRFrames
{
	0%		{transform: translateY(0px);}
	25%		{transform: translateY(-4px);}
	50%		{transform: translateY(0px);}
	75%		{transform: translateY(4px);}
	100%	{transform: translateY(0px);}
}



.tween-fieldShift
{
/*	-webkit-transition: 600ms ease-in-out;
	transition: 600ms ease-in-out;*/

	-webkit-transition: 800ms ease-in-out;
	transition: 800ms ease-in-out;
}




/*PIXELS*/

/*
.pixels_winScreen
{
	background-image: url(../_img/winScreenBasicSprite_1x.png);
	background-repeat: no-repeat;
	background-size: 120px 160px;
}
*/

/*.pixels_winScreen
{
	background-image: url(../_img/winScreenBasicSprite_1x.png);
}*/

/*.pixels_winScreen
{
	background-image: url(../_img/winScreenBasicSprite_2x.png);
}*/




/* -------------------------------------------- CONTROL */
/* -------------------------------------------- CONTROL */
/* -------------------------------------------- CONTROL */
	.layer-ui
	{
		width: 160px;
		height: 160px;

		position: absolute;

		right: 20px;
		bottom: 20px;
	}

	#touchPad
	{
		width: 160px;
		height: 160px;

		position: absolute;

		-webkit-transition: opacity 500ms ease;
		transition: opacity 500ms ease;
	}

	.touchPad_C
	{
		width: 160px;
		height: 160px;

		position: absolute;

		top: 0; bottom: 0; left: 0; right: 0;

		margin: 0 0 0 auto;
	}

	/*TOP*/
	#touchPad-full
	{
		width: inherit;
		height: inherit;

/*		pointer-events: auto;
		cursor: pointer;*/

		position: absolute;

		left: 0;
		top: 0;

		/*z-index: 2;*/
	}

	/*MID*/
	.touchPad-cont
	{
		width: 160px;
		height: 160px;

		position: absolute;

		-webkit-transform-origin	: 50% 50%;
		transform-origin			: 50% 50%;

/*		-webkit-transform: scale(0);
		transform: scale(0);*/

		-webkit-transition	: all 500ms ease;
		transition			: all 500ms ease;

		left: 0;
		top: 0;

		/*z-index: 1;*/
	}

	.touchPad-inner
	{
		width: inherit;
		height: inherit;

		position: relative;

		-webkit-transform-origin	: 50% 50%;
		transform-origin			: 50% 50%;

		-webkit-transform	: rotate(45deg);
		transform			: rotate(45deg);
	}

	/*MID*/
	.touchPad-base
	{
		width: 160px;
		height: 160px;

		position: absolute;

		background-position: 0 0;

		/*z-index: 1;*/
	}

	/*BTM*/
	.touchPad-feedback
	{
		width: 80px;
		height: 80px;

		position: absolute;

		background: rgba(218, 255, 0, 0.5);

		/*opacity: 0;*/

		-webkit-transition: opacity 200ms linear;
		transition: opacity 200ms linear;

		/*z-index: 0;*/
	}

	#touchPad-U-ind
	{
		left: 0;
		top: 0;

		-webkit-border-radius: 80px 0 0 0;
		border-radius: 80px 0 0 0;
	}

	#touchPad-D-ind
	{
		left: 80px;
		top: 80px;

		-webkit-border-radius: 0 0 80px 0;
		border-radius: 0 0 80px 0;
	}

	#touchPad-L-ind
	{
		left: 0;
		top: 80px;

		-webkit-border-radius: 0 0 0 80px;
		border-radius: 0 0 0 80px;
	}

	#touchPad-R-ind
	{
		left: 80px;
		top: 0;

		-webkit-border-radius: 0 80px 0 0;
		border-radius: 0 80px 0 0;
	}

	/*DEAD??*/
	.touchPad-min
	{
		width: 40px;
		height: 40px;

		position: absolute;

		left: 0; right: 0; top: 0; bottom: 0;

		margin: auto;

		opacity: 1;

		-webkit-transform-origin	: 50% 50%;
		transform-origin			: 50% 50%;

		-webkit-transform	: scale(1);
		transform			: scale(1);

		-webkit-transition	: all 500ms ease;
		transition			: all 500ms ease;
	}

	.touchPad_C_show
	{
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	.touchPad_C_hide
	{
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}

	.touchPad_C_signal_show
	{
		opacity: 1;
	}

	.touchPad_C_signal_hide
	{
		opacity: 0;
	}


/* -------------------------------------------- CONTROL */
/* -------------------------------------------- CONTROL */
/* -------------------------------------------- CONTROL */









/*--------------- RESPONSIVE*/




/*--------------- RESPONSIVE*/





