@charset "UTF-8";

/* ------------------------------ DEBUG */

#debug
{
	position: absolute;
	z-index: 1000;

	left: 10px;
	top: 10px;

	color: #ff0033;

	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
}

#debug p
{
	display: inline-block;
	background: #fff;
	padding: 4px;

	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.hack-hide
{
	width: 0;
	height: 0;

	opacity: 0;
	visibility: hidden;

	position: absolute;
}

/* ------------------------------ DEBUG */


.pixels_mistBtm
{
	background-image: url(../_img/mistBottom_1x.png);
	background-repeat: repeat-x;
	background-position: center top;

	background-size: 640px 320px;
}

.pixels_mistTop
{
	background-image: url(../_img/mistTop_1x.png);
	background-repeat: repeat-x;
	background-position: center top;

	background-size: 640px 320px;
}

.friend-sprite
{
	width: inherit;
	height: inherit;

	position: absolute;
}

.player_friend_40x40
{
	width: 40px;
	height: 40px;

	position: absolute;
}

.player_friend_40x40 .map-goat-head
{
	width: inherit;
	height: inherit;

	position: absolute;
}

.player_friend_40x40 .map-goat-hand-L
{
	width: inherit;
	height: inherit;

	background-position: -120px -40px;

	position: absolute;
}

.player_friend_40x40 .map-goat-hand-R
{
	width: inherit;
	height: inherit;

	background-position: -160px -40px;

	position: absolute;
}

.player_friend_40x40 .map-goat-body
{
	width: inherit;
	height: inherit;

	background-position: -200px 0px;

	position: absolute;
}

.player_friend_40x40 .map-goat-legs
{
	width: inherit;
	height: inherit;

	background-position: 0 -80px;

	position: absolute;
}



#messageScreen
{
	width: 100%;
	height: 100%;

	position: absolute;
}

.messageScreenContent
{
	width: inherit;
	height: inherit;

	position: relative;
}

.messageScreen_flare
{
	width: inherit;
	height: inherit;

	background: #fff;

	position: absolute;
}

.messageScreenFlare_hide
{
	opacity: 0;
}

.messageScreenFlare_show
{
	opacity: 1;
}

.tween-messageScreenFlare
{
	-webkit-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
}

.messageScreen_main
{
	width: inherit;
	height: inherit;

	position: absolute;
}

.messageScreen_land
{
	width: inherit;
	height: 80px;

	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;

	margin: auto auto 0 auto;

	background: black;
}

.messageScreen_friend
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;

	margin: 0 auto;
}


.messageScreen_focus
{
	width: 320px;
	height: 100%;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;

	margin: 0 auto;
}

.messageScreen_focus .messageScreen_text
{
	width: 90%;

	position: absolute;

	top: 0; left: 0; right: 0; bottom: 0;

	margin: 40px auto 0 auto;
}

.messageScreen_focus .messageScreen_text p
{
	width: 100%;
	/*height: 1em;
*/
	display: inline-block;

	font-size: 1em;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #fff;

	position: absolute;
}

.tween-messageScreenText
{
	-webkit-animation: tweenMessageScreenTextFrames 500ms ease-in-out infinite;
	animation: tweenMessageScreenTextFrames 500ms ease-in-out infinite;
}

@-webkit-keyframes tweenMessageScreenTextFrames
{
	0%		{-webkit-transform: translateY(0px);}
	50%		{-webkit-transform: translateY(10px);}
	100%	{-webkit-transform: translateY(0px);}
}

@keyframes tweenMessageScreenTextFrames
{
	0%		{transform: translateY(0px);}
	50%		{transform: translateY(10px);}
	100%	{transform: translateY(0px);}
}






.messageScreen_hide
{
	width: 0;
	height: 0;

	visibility: hidden;
}






