@charset "UTF-8";

/* ------------------------------ DEBUG */

#debug
{
	position: absolute;
	z-index: 1000;

	left: 10px;
	top: 10px;

	color: #ff0033;

	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
}

#debug p
{
	display: inline-block;
	background: #fff;
	padding: 4px;

	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.hack-hide
{
	width: 0;
	height: 0;

	opacity: 0;
	visibility: hidden;

	position: absolute;
}

/* ------------------------------ DEBUG */


.pixels_mistBtm
{
	background-image: url(../_img/mistBottom_1x.png);
	background-repeat: repeat-x;
	background-position: center top;

	background-size: 640px 320px;
}

.pixels_mistTop
{
	background-image: url(../_img/mistTop_1x.png);
	background-repeat: repeat-x;
	background-position: center top;

	background-size: 640px 320px;
}






