@charset "UTF-8";

/*UNDERGROUND*/

.pixels_undeground_floor
{
	background-image: url(../_img/tile_undergroundFloor_1x.png);
	background-repeat: repeat;
	background-position: left top;

	background-size: 80px 80px;
}


/*DEFAULT FOREST*/

.pixels_flowerLight
{
	background-image: url(../_img/tile_flowersLight_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavy
{
	background-image: url(../_img/tile_flowersHeavy_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forest
{
	background-image: url(../_img/tile_pineTrees_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassLR
{
	background-image: url(../_img/tile_forestMassLR_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassTB
{
	background-image: url(../_img/tile_forestMassTB_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}


/*STONE*/

.pixels_stoneFlowerLight
{
	background-image: url(../_img/tile_flowersLight_stone_1x.png);
	background-repeat: repeat;
	background-position: left top;

	background-size: 80px 80px;
}

.pixels_stoneFlowerHeavy
{
	background-image: url(../_img/tile_flowersHeavy_stone_1x.png);
	background-repeat: repeat;
	background-position: left top;

	background-size: 80px 80px;
}

.pixels_stoneForest
{
	background-image: url(../_img/tile_stonePineTrees_1x.png);
	background-repeat: repeat;
	background-position: left top;

	background-size: 80px 80px;
}

.pixels_boulder_stone
{
	background-image: url(../_img/tile_boulder_stone_1x.png);
	background-repeat: repeat;
	background-position: left top;

	background-size: 80px 80px;
}

.pixels_stoneForestMassLR
{
	background-image: url(../_img/tile_stoneForestMassLR_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_stoneForestMassTB
{
	background-image: url(../_img/tile_stoneForestMassTB_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}


/*EVENING0*/

.pixels_flowerLightEvening0
{
	background-image: url(../_img/tile_flowersLight_evening0_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavyEvening0
{
	background-image: url(../_img/tile_flowersHeavy_evening0_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestEvening0
{
	background-image: url(../_img/tile_evening0PineTrees_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassEvening0LR
{
	background-image: url(../_img/tile_pineTreesMassLR_evening0_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassEvening0TB
{
	background-image: url(../_img/tile_pineTreesMassTB_evening0_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}




@media all and (-webkit-min-device-pixel-ratio: 1), all and (min-device-pixel-ratio: 1)
{
	.pixels_undeground_floor
	{
		background-image: url(../_img/tile_undergroundFloor_1x.png);
	}

	.pixels_flowerLight
	{
		background-image: url(../_img/tile_flowersLight_1x.png);
	}

	.pixels_flowerHeavy
	{
		background-image: url(../_img/tile_flowersHeavy_1x.png);
	}

	.pixels_forest
	{
		background-image: url(../_img/tile_pineTrees_1x.png);
	}

	.pixels_forestMassLR
	{
		background-image: url(../_img/tile_forestMassLR_1x.png);
	}

	.pixels_forestMassTB
	{
		background-image: url(../_img/tile_forestMassTB_1x.png);
	}

	.pixels_stoneFlowerLight
	{
		background-image: url(../_img/tile_flowersLight_stone_1x.png);
	}

	.pixels_stoneFlowerHeavy
	{
		background-image: url(../_img/tile_flowersHeavy_stone_1x.png);
	}

	.pixels_stoneForest
	{
		background-image: url(../_img/tile_stonePineTrees_1x.png);
	}

	.pixels_boulder_stone
	{
		background-image: url(../_img/tile_boulder_stone_1x.png);
	}

	.pixels_stoneForestMassLR
	{
		background-image: url(../_img/tile_stoneForestMassLR_1x.png);
	}

	.pixels_stoneForestMassTB
	{
		background-image: url(../_img/tile_stoneForestMassTB_1x.png);
	}

	.pixels_flowerLightEvening0
	{
		background-image: url(../_img/tile_flowersLight_evening0_1x.png);
	}

	.pixels_flowerHeavyEvening0
	{
		background-image: url(../_img/tile_flowersHeavy_evening0_1x.png);
	}

	.pixels_forestEvening0
	{
		background-image: url(../_img/tile_evening0PineTrees_1x.png);
	}

	.pixels_forestMassEvening0LR
	{
		background-image: url(../_img/tile_pineTreesMassLR_evening0_1x.png);
	}

	.pixels_forestMassEvening0TB
	{
		background-image: url(../_img/tile_pineTreesMassTB_evening0_1x.png);
	}
}

@media all and (-webkit-min-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 2)
{
	.pixels_undeground_floor
	{
		background-image: url(../_img/tile_undergroundFloor_2x.png);
	}

	.pixels_flowerLight
	{
		background-image: url(../_img/tile_flowersLight_2x.png);
	}

	.pixels_flowerHeavy
	{
		background-image: url(../_img/tile_flowersHeavy_2x.png);
	}

	.pixels_forest
	{
		background-image: url(../_img/tile_pineTrees_2x.png);
	}

	.pixels_forestMassLR
	{
		background-image: url(../_img/tile_forestMassLR_2x.png);
	}

	.pixels_forestMassTB
	{
		background-image: url(../_img/tile_forestMassTB_2x.png);
	}

	.pixels_stoneFlowerLight
	{
		background-image: url(../_img/tile_flowersLight_stone_2x.png);
	}

	.pixels_stoneFlowerHeavy
	{
		background-image: url(../_img/tile_flowersHeavy_stone_2x.png);
	}

	.pixels_stoneForest
	{
		background-image: url(../_img/tile_stonePineTrees_2x.png);
	}

	.pixels_boulder_stone
	{
		background-image: url(../_img/tile_boulder_stone_2x.png);
	}

	.pixels_stoneForestMassLR
	{
		background-image: url(../_img/tile_stoneForestMassLR_2x.png);
	}

	.pixels_stoneForestMassTB
	{
		background-image: url(../_img/tile_stoneForestMassTB_2x.png);
	}

	.pixels_flowerLightEvening0
	{
		background-image: url(../_img/tile_flowersLight_evening0_2x.png);
	}

	.pixels_flowerHeavyEvening0
	{
		background-image: url(../_img/tile_flowersHeavy_evening0_2x.png);
	}

	.pixels_forestEvening0
	{
		background-image: url(../_img/tile_evening0PineTrees_2x.png);
	}

	.pixels_forestMassEvening0LR
	{
		background-image: url(../_img/tile_pineTreesMassLR_evening0_2x.png);
	}

	.pixels_forestMassEvening0TB
	{
		background-image: url(../_img/tile_pineTreesMassTB_evening0_2x.png);
	}
}