@charset "UTF-8";

/*portals*/

.portal_top_forest
{
	background-position: 0px 0px;
}

.portal_top_ice
{
	background-position: -80px 0px;
}

.portal_top_stone
{
	background-position: -160px 0px;
}

.portal_top_underground
{
	background-position: -240px 0px;
}

.portal_top_evening0
{
	background-position: 0px -80px;
}

.portal_top_late
{
	background-position: -80px -80px;
}

.portal_top_twilight
{
	background-position: -160px -80px;
}

.portal_top_early
{
	background-position: -240px -80px;
}

.portal_top_morning0
{
	background-position: 0px -160px;
}

.portal_top_morning1
{
	background-position: -80px -160px;
}

.portal_top_swamp
{
	background-position: -160px -160px;
}

.portal_top_heath
{
	background-position: -240px -160px;
}

.portal_top_dry
{
	background-position: 0px -240px;
}

.portal_top_yesno
{
	background-position: -80px -240px;
}

/*portals*/



/*underground*/

.pixels_undeground_floor
{
	background-image: url(../_img/tile_undergroundFloor_1x.png);
	background-repeat: repeat;
	background-position: left top;

	background-size: 80px 80px;
}


/*default*/

.pixels_flowerLight
{
	background-image: url(../_img/tile_flowersLight_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavy
{
	background-image: url(../_img/tile_flowersHeavy_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forest
{
	background-image: url(../_img/tile_pineTrees_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassLR
{
	background-image: url(../_img/tile_forestMassLR_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassTB
{
	background-image: url(../_img/tile_forestMassTB_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}


/*stone*/

.pixels_stoneFlowerLight
{
	background-image: url(../_img/tile_flowersLight_stone_1x.png);
	background-repeat: repeat;
	background-position: left top;

	background-size: 80px 80px;
}

.pixels_stoneFlowerHeavy
{
	background-image: url(../_img/tile_flowersHeavy_stone_1x.png);
	background-repeat: repeat;
	background-position: left top;

	background-size: 80px 80px;
}

.pixels_stoneForest
{
	background-image: url(../_img/tile_stonePineTrees_1x.png);
	background-repeat: repeat;
	background-position: left top;

	background-size: 80px 80px;
}

.pixels_boulder_stone
{
	background-image: url(../_img/tile_boulder_stone_1x.png);
	background-repeat: repeat;
	background-position: left top;

	background-size: 80px 80px;
}

.pixels_stoneForestMassLR
{
	background-image: url(../_img/tile_stoneForestMassLR_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_stoneForestMassTB
{
	background-image: url(../_img/tile_stoneForestMassTB_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}


/*evening0*/

.pixels_flowerLightEvening0
{
	background-image: url(../_img/tile_flowersLight_evening0_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavyEvening0
{
	background-image: url(../_img/tile_flowersHeavy_evening0_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestEvening0
{
	background-image: url(../_img/tile_evening0PineTrees_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassEvening0LR
{
	background-image: url(../_img/tile_pineTreesMassLR_evening0_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassEvening0TB
{
	background-image: url(../_img/tile_pineTreesMassTB_evening0_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

/*dry*/

.pixels_flowerLight_dry
{
	background-image: url(../_img/tile_flowersLight_dry_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavy_dry
{
	background-image: url(../_img/tile_flowersHeavy_dry_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forest_dry
{
	background-image: url(../_img/tile_pineTrees_dry_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassLR_dry
{
	background-image: url(../_img/tile_pineTreesMassLR_dry_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassTB_dry
{
	background-image: url(../_img/tile_pineTreesMassTB_dry_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

/*early*/

.pixels_flowerLight_early
{
	background-image: url(../_img/tile_flowersLight_early_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavy_early
{
	background-image: url(../_img/tile_flowersHeavy_early_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forest_early
{
	background-image: url(../_img/tile_pineTrees_early_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassLR_early
{
	background-image: url(../_img/tile_pineTreesMassLR_early_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassTB_early
{
	background-image: url(../_img/tile_pineTreesMassTB_early_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

/*heath*/

.pixels_flowerLight_heath
{
	background-image: url(../_img/tile_flowersLight_heath_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavy_heath
{
	background-image: url(../_img/tile_flowersHeavy_heath_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forest_heath
{
	background-image: url(../_img/tile_pineTrees_heath_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassLR_heath
{
	background-image: url(../_img/tile_pineTreesMassLR_heath_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassTB_heath
{
	background-image: url(../_img/tile_pineTreesMassTB_heath_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

/*ice*/

.pixels_flowerLight_ice
{
	background-image: url(../_img/tile_flowersLight_ice_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavy_ice
{
	background-image: url(../_img/tile_flowersHeavy_ice_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forest_ice
{
	background-image: url(../_img/tile_pineTrees_ice_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassLR_ice
{
	background-image: url(../_img/tile_pineTreesMassLR_ice_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassTB_ice
{
	background-image: url(../_img/tile_pineTreesMassTB_ice_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

/*late*/

.pixels_flowerLight_late
{
	background-image: url(../_img/tile_flowersLight_late_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavy_late
{
	background-image: url(../_img/tile_flowersHeavy_late_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forest_late
{
	background-image: url(../_img/tile_pineTrees_late_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassLR_late
{
	background-image: url(../_img/tile_pineTreesMassLR_late_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassTB_late
{
	background-image: url(../_img/tile_pineTreesMassTB_late_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

/*morning0*/

.pixels_flowerLight_morning0
{
	background-image: url(../_img/tile_flowersLight_morning0_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavy_morning0
{
	background-image: url(../_img/tile_flowersHeavy_morning0_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forest_morning0
{
	background-image: url(../_img/tile_pineTrees_morning0_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassLR_morning0
{
	background-image: url(../_img/tile_pineTreesMassLR_morning0_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassTB_morning0
{
	background-image: url(../_img/tile_pineTreesMassTB_morning0_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

/*morning1*/

.pixels_flowerLight_morning1
{
	background-image: url(../_img/tile_flowersLight_morning1_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavy_morning1
{
	background-image: url(../_img/tile_flowersHeavy_morning1_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forest_morning1
{
	background-image: url(../_img/tile_pineTrees_morning1_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassLR_morning1
{
	background-image: url(../_img/tile_pineTreesMassLR_morning1_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassTB_morning1
{
	background-image: url(../_img/tile_pineTreesMassTB_morning1_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

/*swamp*/

.pixels_flowerLight_swamp
{
	background-image: url(../_img/tile_flowersLight_swamp_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavy_swamp
{
	background-image: url(../_img/tile_flowersHeavy_swamp_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forest_swamp
{
	background-image: url(../_img/tile_pineTrees_swamp_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassLR_swamp
{
	background-image: url(../_img/tile_pineTreesMassLR_swamp_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassTB_swamp
{
	background-image: url(../_img/tile_pineTreesMassTB_swamp_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

/*twilight*/

.pixels_flowerLight_twilight
{
	background-image: url(../_img/tile_flowersLight_twilight_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerHeavy_twilight
{
	background-image: url(../_img/tile_flowersHeavy_twilight_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forest_twilight
{
	background-image: url(../_img/tile_pineTrees_twilight_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_forestMassLR_twilight
{
	background-image: url(../_img/tile_pineTreesMassLR_twilight_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

.pixels_forestMassTB_twilight
{
	background-image: url(../_img/tile_pineTreesMassTB_twilight_1x.png);
	background-repeat: repeat;

	background-size: 320px 320px;
}

/*yesno*/

.pixels_forest_yesno
{
	background-image: url(../_img/tile_no_1x.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

.pixels_flowerLight_yesno
{
	background-image: url(../_img/tile_yes_1x.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 80px 80px;
}


@media all and (-webkit-min-device-pixel-ratio: 1), all and (min-device-pixel-ratio: 1)
{
	.pixels_undeground_floor
	{
		background-image: url(../_img/tile_undergroundFloor_1x.png);
	}

	.pixels_flowerLight
	{
		background-image: url(../_img/tile_flowersLight_1x.png);
	}

	.pixels_flowerHeavy
	{
		background-image: url(../_img/tile_flowersHeavy_1x.png);
	}

	.pixels_forest
	{
		background-image: url(../_img/tile_pineTrees_1x.png);
	}

	.pixels_forestMassLR
	{
		background-image: url(../_img/tile_forestMassLR_1x.png);
	}

	.pixels_forestMassTB
	{
		background-image: url(../_img/tile_forestMassTB_1x.png);
	}

	.pixels_stoneFlowerLight
	{
		background-image: url(../_img/tile_flowersLight_stone_1x.png);
	}

	.pixels_stoneFlowerHeavy
	{
		background-image: url(../_img/tile_flowersHeavy_stone_1x.png);
	}

	.pixels_stoneForest
	{
		background-image: url(../_img/tile_stonePineTrees_1x.png);
	}

	.pixels_boulder_stone
	{
		background-image: url(../_img/tile_boulder_stone_1x.png);
	}

	.pixels_stoneForestMassLR
	{
		background-image: url(../_img/tile_stoneForestMassLR_1x.png);
	}

	.pixels_stoneForestMassTB
	{
		background-image: url(../_img/tile_stoneForestMassTB_1x.png);
	}

	.pixels_flowerLightEvening0
	{
		background-image: url(../_img/tile_flowersLight_evening0_1x.png);
	}

	.pixels_flowerHeavyEvening0
	{
		background-image: url(../_img/tile_flowersHeavy_evening0_1x.png);
	}

	.pixels_forestEvening0
	{
		background-image: url(../_img/tile_evening0PineTrees_1x.png);
	}

	.pixels_forestMassEvening0LR
	{
		background-image: url(../_img/tile_pineTreesMassLR_evening0_1x.png);
	}

	.pixels_forestMassEvening0TB
	{
		background-image: url(../_img/tile_pineTreesMassTB_evening0_1x.png);
	}

	.pixels_flowerLight_dry
	{
		background-image: url(../_img/tile_flowersLight_dry_1x.png);
	}

	.pixels_flowerHeavy_dry
	{
		background-image: url(../_img/tile_flowersHeavy_dry_1x.png);
	}

	.pixels_forest_dry
	{
		background-image: url(../_img/tile_pineTrees_dry_1x.png);
	}

	.pixels_forestMassLR_dry
	{
		background-image: url(../_img/tile_pineTreesMassLR_dry_1x.png);
	}

	.pixels_forestMassTB_dry
	{
		background-image: url(../_img/tile_pineTreesMassTB_dry_1x.png);
	}

	.pixels_flowerLight_early
	{
		background-image: url(../_img/tile_flowersLight_early_1x.png);
	}

	.pixels_flowerHeavy_early
	{
		background-image: url(../_img/tile_flowersHeavy_early_1x.png);
	}

	.pixels_forest_early
	{
		background-image: url(../_img/tile_pineTrees_early_1x.png);
	}

	.pixels_forestMassLR_early
	{
		background-image: url(../_img/tile_pineTreesMassLR_early_1x.png);
	}

	.pixels_forestMassTB_early
	{
		background-image: url(../_img/tile_pineTreesMassTB_early_1x.png);
	}

	.pixels_flowerLight_heath
	{
		background-image: url(../_img/tile_flowersLight_heath_1x.png);
	}

	.pixels_flowerHeavy_heath
	{
		background-image: url(../_img/tile_flowersHeavy_heath_1x.png);
	}

	.pixels_forest_heath
	{
		background-image: url(../_img/tile_pineTrees_heath_1x.png);
	}

	.pixels_forestMassLR_heath
	{
		background-image: url(../_img/tile_pineTreesMassLR_heath_1x.png);
	}

	.pixels_forestMassTB_heath
	{
		background-image: url(../_img/tile_pineTreesMassTB_heath_1x.png);
	}

	.pixels_flowerLight_ice
	{
		background-image: url(../_img/tile_flowersLight_ice_1x.png);
	}

	.pixels_flowerHeavy_ice
	{
		background-image: url(../_img/tile_flowersHeavy_ice_1x.png);
	}

	.pixels_forest_ice
	{
		background-image: url(../_img/tile_pineTrees_ice_1x.png);
	}

	.pixels_forestMassLR_ice
	{
		background-image: url(../_img/tile_pineTreesMassLR_ice_1x.png);
	}

	.pixels_forestMassTB_ice
	{
		background-image: url(../_img/tile_pineTreesMassTB_ice_1x.png);
	}

	.pixels_flowerLight_late
	{
		background-image: url(../_img/tile_flowersLight_late_1x.png);
	}

	.pixels_flowerHeavy_late
	{
		background-image: url(../_img/tile_flowersHeavy_late_1x.png);
	}

	.pixels_forest_late
	{
		background-image: url(../_img/tile_pineTrees_late_1x.png);
	}

	.pixels_forestMassLR_late
	{
		background-image: url(../_img/tile_pineTreesMassLR_late_1x.png);
	}

	.pixels_forestMassTB_late
	{
		background-image: url(../_img/tile_pineTreesMassTB_late_1x.png);
	}

	.pixels_flowerLight_morning0
	{
		background-image: url(../_img/tile_flowersLight_morning0_1x.png);
	}

	.pixels_flowerHeavy_morning0
	{
		background-image: url(../_img/tile_flowersHeavy_morning0_1x.png);
	}

	.pixels_forest_morning0
	{
		background-image: url(../_img/tile_pineTrees_morning0_1x.png);
	}

	.pixels_forestMassLR_morning0
	{
		background-image: url(../_img/tile_pineTreesMassLR_morning0_1x.png);
	}

	.pixels_forestMassTB_morning0
	{
		background-image: url(../_img/tile_pineTreesMassTB_morning0_1x.png);
	}

	.pixels_flowerLight_morning1
	{
		background-image: url(../_img/tile_flowersLight_morning1_1x.png);
	}

	.pixels_flowerHeavy_morning1
	{
		background-image: url(../_img/tile_flowersHeavy_morning1_1x.png);
	}

	.pixels_forest_morning1
	{
		background-image: url(../_img/tile_pineTrees_morning1_1x.png);
	}

	.pixels_forestMassLR_morning1
	{
		background-image: url(../_img/tile_pineTreesMassLR_morning1_1x.png);
	}

	.pixels_forestMassTB_morning1
	{
		background-image: url(../_img/tile_pineTreesMassTB_morning1_1x.png);
	}

	.pixels_flowerLight_swamp
	{
		background-image: url(../_img/tile_flowersLight_swamp_1x.png);
	}

	.pixels_flowerHeavy_swamp
	{
		background-image: url(../_img/tile_flowersHeavy_swamp_1x.png);
	}

	.pixels_forest_swamp
	{
		background-image: url(../_img/tile_pineTrees_swamp_1x.png);
	}

	.pixels_forestMassLR_swamp
	{
		background-image: url(../_img/tile_pineTreesMassLR_swamp_1x.png);
	}

	.pixels_forestMassTB_swamp
	{
		background-image: url(../_img/tile_pineTreesMassTB_swamp_1x.png);
	}

	.pixels_flowerLight_twilight
	{
		background-image: url(../_img/tile_flowersLight_twilight_1x.png);
	}

	.pixels_flowerHeavy_twilight
	{
		background-image: url(../_img/tile_flowersHeavy_twilight_1x.png);
	}

	.pixels_forest_twilight
	{
		background-image: url(../_img/tile_pineTrees_twilight_1x.png);
	}

	.pixels_forestMassLR_twilight
	{
		background-image: url(../_img/tile_pineTreesMassLR_twilight_1x.png);
	}

	.pixels_forestMassTB_twilight
	{
		background-image: url(../_img/tile_pineTreesMassTB_twilight_1x.png);
	}

	.pixels_forest_yesno
	{
		background-image: url(../_img/tile_no_1x.png);
	}

	.pixels_flowerLight_yesno
	{
		background-image: url(../_img/tile_yes_1x.png);
	}
}

@media all and (-webkit-min-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 2)
{
	.pixels_undeground_floor
	{
		background-image: url(../_img/tile_undergroundFloor_2x.png);
	}

	.pixels_flowerLight
	{
		background-image: url(../_img/tile_flowersLight_2x.png);
	}

	.pixels_flowerHeavy
	{
		background-image: url(../_img/tile_flowersHeavy_2x.png);
	}

	.pixels_forest
	{
		background-image: url(../_img/tile_pineTrees_2x.png);
	}

	.pixels_forestMassLR
	{
		background-image: url(../_img/tile_forestMassLR_2x.png);
	}

	.pixels_forestMassTB
	{
		background-image: url(../_img/tile_forestMassTB_2x.png);
	}

	.pixels_stoneFlowerLight
	{
		background-image: url(../_img/tile_flowersLight_stone_2x.png);
	}

	.pixels_stoneFlowerHeavy
	{
		background-image: url(../_img/tile_flowersHeavy_stone_2x.png);
	}

	.pixels_stoneForest
	{
		background-image: url(../_img/tile_stonePineTrees_2x.png);
	}

	.pixels_boulder_stone
	{
		background-image: url(../_img/tile_boulder_stone_2x.png);
	}

	.pixels_stoneForestMassLR
	{
		background-image: url(../_img/tile_stoneForestMassLR_2x.png);
	}

	.pixels_stoneForestMassTB
	{
		background-image: url(../_img/tile_stoneForestMassTB_2x.png);
	}

	.pixels_flowerLightEvening0
	{
		background-image: url(../_img/tile_flowersLight_evening0_2x.png);
	}

	.pixels_flowerHeavyEvening0
	{
		background-image: url(../_img/tile_flowersHeavy_evening0_2x.png);
	}

	.pixels_forestEvening0
	{
		background-image: url(../_img/tile_evening0PineTrees_2x.png);
	}

	.pixels_forestMassEvening0LR
	{
		background-image: url(../_img/tile_pineTreesMassLR_evening0_2x.png);
	}

	.pixels_forestMassEvening0TB
	{
		background-image: url(../_img/tile_pineTreesMassTB_evening0_2x.png);
	}

	.pixels_flowerLight_dry
	{
		background-image: url(../_img/tile_flowersLight_dry_2x.png);
	}

	.pixels_flowerHeavy_dry
	{
		background-image: url(../_img/tile_flowersHeavy_dry_2x.png);
	}

	.pixels_forest_dry
	{
		background-image: url(../_img/tile_pineTrees_dry_2x.png);
	}

	.pixels_forestMassLR_dry
	{
		background-image: url(../_img/tile_pineTreesMassLR_dry_2x.png);
	}

	.pixels_forestMassTB_dry
	{
		background-image: url(../_img/tile_pineTreesMassTB_dry_2x.png);
	}

	.pixels_flowerLight_early
	{
		background-image: url(../_img/tile_flowersLight_early_2x.png);
	}

	.pixels_flowerHeavy_early
	{
		background-image: url(../_img/tile_flowersHeavy_early_2x.png);
	}

	.pixels_forest_early
	{
		background-image: url(../_img/tile_pineTrees_early_2x.png);
	}

	.pixels_forestMassLR_early
	{
		background-image: url(../_img/tile_pineTreesMassLR_early_2x.png);
	}

	.pixels_forestMassTB_early
	{
		background-image: url(../_img/tile_pineTreesMassTB_early_2x.png);
	}

	.pixels_flowerLight_heath
	{
		background-image: url(../_img/tile_flowersLight_heath_2x.png);
	}

	.pixels_flowerHeavy_heath
	{
		background-image: url(../_img/tile_flowersHeavy_heath_2x.png);
	}

	.pixels_forest_heath
	{
		background-image: url(../_img/tile_pineTrees_heath_2x.png);
	}

	.pixels_forestMassLR_heath
	{
		background-image: url(../_img/tile_pineTreesMassLR_heath_2x.png);
	}

	.pixels_forestMassTB_heath
	{
		background-image: url(../_img/tile_pineTreesMassTB_heath_2x.png);
	}

	.pixels_flowerLight_ice
	{
		background-image: url(../_img/tile_flowersLight_ice_2x.png);
	}

	.pixels_flowerHeavy_ice
	{
		background-image: url(../_img/tile_flowersHeavy_ice_2x.png);
	}

	.pixels_forest_ice
	{
		background-image: url(../_img/tile_pineTrees_ice_2x.png);
	}

	.pixels_forestMassLR_ice
	{
		background-image: url(../_img/tile_pineTreesMassLR_ice_2x.png);
	}

	.pixels_forestMassTB_ice
	{
		background-image: url(../_img/tile_pineTreesMassTB_ice_2x.png);
	}

	.pixels_flowerLight_late
	{
		background-image: url(../_img/tile_flowersLight_late_2x.png);
	}

	.pixels_flowerHeavy_late
	{
		background-image: url(../_img/tile_flowersHeavy_late_2x.png);
	}

	.pixels_forest_late
	{
		background-image: url(../_img/tile_pineTrees_late_2x.png);
	}

	.pixels_forestMassLR_late
	{
		background-image: url(../_img/tile_pineTreesMassLR_late_2x.png);
	}

	.pixels_forestMassTB_late
	{
		background-image: url(../_img/tile_pineTreesMassTB_late_2x.png);
	}

	.pixels_flowerLight_morning0
	{
		background-image: url(../_img/tile_flowersLight_morning0_2x.png);
	}

	.pixels_flowerHeavy_morning0
	{
		background-image: url(../_img/tile_flowersHeavy_morning0_2x.png);
	}

	.pixels_forest_morning0
	{
		background-image: url(../_img/tile_pineTrees_morning0_2x.png);
	}

	.pixels_forestMassLR_morning0
	{
		background-image: url(../_img/tile_pineTreesMassLR_morning0_2x.png);
	}

	.pixels_forestMassTB_morning0
	{
		background-image: url(../_img/tile_pineTreesMassTB_morning0_2x.png);
	}

	.pixels_flowerLight_morning1
	{
		background-image: url(../_img/tile_flowersLight_morning1_2x.png);
	}

	.pixels_flowerHeavy_morning1
	{
		background-image: url(../_img/tile_flowersHeavy_morning1_2x.png);
	}

	.pixels_forest_morning1
	{
		background-image: url(../_img/tile_pineTrees_morning1_2x.png);
	}

	.pixels_forestMassLR_morning1
	{
		background-image: url(../_img/tile_pineTreesMassLR_morning1_2x.png);
	}

	.pixels_forestMassTB_morning1
	{
		background-image: url(../_img/tile_pineTreesMassTB_morning1_2x.png);
	}

	.pixels_flowerLight_swamp
	{
		background-image: url(../_img/tile_flowersLight_swamp_2x.png);
	}

	.pixels_flowerHeavy_swamp
	{
		background-image: url(../_img/tile_flowersHeavy_swamp_2x.png);
	}

	.pixels_forest_swamp
	{
		background-image: url(../_img/tile_pineTrees_swamp_2x.png);
	}

	.pixels_forestMassLR_swamp
	{
		background-image: url(../_img/tile_pineTreesMassLR_swamp_2x.png);
	}

	.pixels_forestMassTB_swamp
	{
		background-image: url(../_img/tile_pineTreesMassTB_swamp_2x.png);
	}

	.pixels_flowerLight_twilight
	{
		background-image: url(../_img/tile_flowersLight_twilight_2x.png);
	}

	.pixels_flowerHeavy_twilight
	{
		background-image: url(../_img/tile_flowersHeavy_twilight_2x.png);
	}

	.pixels_forest_twilight
	{
		background-image: url(../_img/tile_pineTrees_twilight_2x.png);
	}

	.pixels_forestMassLR_twilight
	{
		background-image: url(../_img/tile_pineTreesMassLR_twilight_2x.png);
	}

	.pixels_forestMassTB_twilight
	{
		background-image: url(../_img/tile_pineTreesMassTB_twilight_2x.png);
	}

	.pixels_forest_yesno
	{
		background-image: url(../_img/tile_no_2x.png);
	}

	.pixels_flowerLight_yesno
	{
		background-image: url(../_img/tile_yes_2x.png);
	}
}